@tailwind base;
@tailwind components;
@tailwind utilities;


.border-move-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1c1917;
    transition: width 0.3s;
  }
  
  .border-move-animation:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .border-move-animation-products::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #78716c;
    transition: width 0.3s;
  }
  
  .border-move-animation-products:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
  